PROJECT_CANONICAL_URL="<value here>"
PROJECT_AUTHOR="<value here>"
PROJECT_BASE_TITLE="<value here>"
NODE_ENV="<development | test | production> if not set, the environment defaults to "development" when dev script is executed.