---
const socials = [
  { platform: 'github', username: 'sun33t' },
  { platform: 'instagram', username: 'suneet' }
]
import Social from './Social.astro'
---

<footer>
  <p>
    Learn more about me on {
      socials.map((social) => (
        <Social platform={social.platform} username={social.username} />
      ))
    }
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
