name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_typecheck:
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      NODE_ENV: ${{ secrets.NODE_ENV }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.11.1"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Pull Vercel Environment Variables
        run: npx vercel env pull .env.local --yes --environment=production --token=$VERCEL_TOKEN

      - name: Build
        run: npm run build

      - name: Type check
        run: npx tsc --noEmit
